body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  display: grid;
  grid-template: 100px 100px 300px 300px 100px /340px 340px 340px 340px 340px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #5b1d88;
  grid-area: 1 / 1 / 2 / 6;
}

.sidebar {
  background-color: #c08ee4;
  grid-area: 2 / 1 / 6;
}

.nav {
  background-color: #9b45d8;
  grid-area: 2 / 2 / 3 / 6;
}

.article {
  background-color: #7f559d;
  grid-area: 3 / 2 / 5 /6;
}

.footer {
  background-color: #7d88a2;
  grid-area: 5 / 2 / 5 / span 4;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
